.buttons {
  margin-top: 30px;
  display: flex;
  column-gap: 16px;
  row-gap: 16px;

  @include breakpoint-sm {
    margin-top: 23px;

    &_imageText {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  @include breakpoint-xxs {
    &_imageText {
      flex-direction: column;
    }
  }
}

.button {
  @include fonts-small;

  border: 2px solid transparent;
  padding: 7px 33px 9px;
  color: get-color(white);
  cursor: pointer;
  transition: opacity 0.4s ease-out;
  &:hover {
    opacity: $hover-opacity;
  }

  @each $name, $clr,
    $clrbrdr
      in (black, get-color(black), get-color(light-blue))
      (blue, get-color(dark-blue), inherit)
      (light-blue, get-color(light-blue), get-color(light-blue))
  {
    &_clr {
      &-#{$name} {
        background-color: $clr;
        border-color: $clrbrdr;
      }
    }
  }

  @include breakpoint-md {
    padding: 7px 28px 9px;
  }

  @include breakpoint-sm {
    padding: 6px 30px 9px;
  }
}
