.card {
  $root: &; // ссылка на родителя (в данном случае card)

  padding-top: 100px;
  margin-bottom: 90px;

  @include breakpoint-md {
    padding-top: 80px;
    margin-bottom: 70px;
  }

  @include breakpoint-sm {
    padding-top: 60px;
    margin-bottom: 40px;
  }

  @include breakpoint-xs {
    padding-top: 50px;
    margin-bottom: 30px;
  }

  &__row {
    @include make-row;

    justify-content: center;
  }

  &__col {
    margin-bottom: 30px;

    @include make-col-ready;
    @include make-col(4);

    @include breakpoint-md {
      @include make-col(6);
    }

    @include breakpoint-xxs {
      @include make-col(12);
    }
  }

  &__item {
    height: 100%;
    padding: 30px;
    border: 1px solid get-color(grey);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint-sm {
      padding: 28px;
    }

    @include breakpoint-xs {
      padding: 16px;
    }
  }

  &__category {
    @include fonts(13px, 22px, 1.2px);

    position: absolute;
    top: 12px;
    left: 0;
    text-transform: uppercase;
    padding: 6px 15px 8px 16px;
    background-color: get-color(light-blue);
    color: get-color(white);

    #{$root}__item_clr-blue & { // если на item висит модификатор clr-blue, то меняем цвет фона у category
      background-color: get-color(dark-blue);
    }

    @include breakpoint-sm {
      top: 9px;

      @include fonts(12px, 20px, 1px);
    }

    @include breakpoint-xs {
      top: 0;
    }
  }

  &__img {
    @include background-mixin;

    margin-bottom: 20px;

    &::before {
      position: static;
      display: block;
      content: "";
      padding: 57.1% 0 0;

      @include breakpoint-sm {
        padding: 52% 0 0;
      }

      @include breakpoint-xs {
        padding: 62.5% 0 0;
      }

      @include breakpoint-xxs {
        padding: 54.5% 0 0;
      }
    }

    @include breakpoint-sm {
      margin-bottom: 18px;
    }

    @include breakpoint-xs {
      margin-bottom: 12px;
    }

    $nums: one, two, three, four, five, six;

    @each $num in $nums {
      &_#{$num} {
        background-image: url("../images/card_#{$num}.jpg");
      }
    }
  }

  &__author {
    @include fonts-small;

    color: get-color(light-blue);
    margin-bottom: 6px;

    #{$root}__item_clr-blue & { // если на item висит модификатор clr-blue, то меняем цвет фона у author
      color: get-color(dark-blue);
    }
  }

  &__title {
    @include fonts-subtitle;

    font-weight: 400;
    margin-bottom: 16px;

    @include breakpoint-sm {
      margin-bottom: 12px;
    }

    @include breakpoint-xs {
      margin-bottom: 10px;
    }
  }

  &__text {
    @include fonts-text;
  }
}
