.imageText {
    background-color: $black;

    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 100px 0;

        @include breakpoint-md {
            padding: 80px 16px;
        }

        @include breakpoint-xxs {
            flex-wrap: wrap;
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    &__content {
        max-width: 50%;
        margin-right: 55px;

        @include breakpoint-xxs {
            max-width: 90%;
            text-align: center;
            margin-right: 0;
        }
    }
    &__title {
        @include fonts-title;
        
        color: $light-blue;
        margin-bottom: 22px;
    }
    &__text {
        @include fonts-subtitle;

        color: $white;
        margin-bottom: 10px;

        @include breakpoint-sm {
            margin-bottom: 0;
        }
    }
    &__image-hub {
        max-width: 100%;

        @include breakpoint-xxs {
            margin-top: 40px;
        }
    }
}