.imageText {
    background-color: $black;

    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 100px 0;

        @include breakpoint-md {
            padding: 80px 16px;
        }

        @include breakpoint-xxs {
            flex-wrap: wrap;
        }
    }
    &__content {
        max-width: 50%;
        // margin-right: 55px;

        @include breakpoint-sm {
            max-width: 47%;
            margin-right: 55px;
        }

        @include breakpoint-xs {
            max-width: 50%;
        }
    }
    &__title {
        @include fonts-title;
        
        color: $light-blue;
        margin-bottom: 22px;

        @include breakpoint-md {
            @include fonts-title-md;
        }

        @include breakpoint-sm {
            @include fonts-title-sm;
        }
    }
    &__text {
        @include fonts(22px, 30px, 1.2px);

        color: $white;
        margin-bottom: 10px;

        @include breakpoint-md {
            @include fonts-subtitle-md;
        }

        @include breakpoint-sm {
            @include fonts-subtitle-sm;

            margin-bottom: 0;
        }
    }
    &__image-hub {
        max-width: 100%;
    }
}