.location {
    padding: 100px 0;
    background-color: $bg;

    &__row {
        @include make-row;
    }

    &__col {
        @include make-col-ready;
        @include make-col(4);

        @include breakpoint-md {
            @include make-col(6);

            margin-bottom: 30px;
        }

        &_secondary {
            @include make-col-ready;
            @include make-col(3);
        }
    }

    &_clr-bg {
        background-color: $dark-blue;
    }

    &__items {
        display: flex;
        justify-content: space-between;

        @include breakpoint-md {
            flex-wrap: wrap;
        }
    }

    &__item {
        height: 100%;
        background-color: $green;
        padding: 30px 30px 40px;
        &_clr-dark {
            background-color: transparent;
            color: $white;
            text-align: center;
            padding: 0;
        }
    }

    &__title {
        @include fonts(24px, 36px, 1.2px);

        margin-bottom: 10px;

        font-weight: 700;
        &_size {
            @include fonts(22px, 30px, 1.2px);
        }
    }

    &__text {
        @include fonts(16px, 26px, 0.8px);
    }
}