.location {
    padding: 100px 0;
    background-color: $bg;

    @include breakpoint-sm {
        padding: 80px 0 60px;
    }

    @include breakpoint-xs {
        padding: 70px 0 40px;
    }

    @include breakpoint-xxs {
        padding: 60px 0 30px;
    }

    &__row {
        @include make-row;
    }

    &__col {
        @include make-col-ready;
        @include make-col(4);

        @include breakpoint-md {
            @include make-col(6);

            margin-bottom: 30px;
        }

        @include breakpoint-xxs {
            @include make-col(12);
        }

        &_secondary {
            @include make-col-ready;
            @include make-col(3);

            @include breakpoint-md {
                @include make-col(4);
            }

            @include breakpoint-xs {
                @include make-col(5);
            }

            @include breakpoint-xxs {
                @include make-col(12);
            }
        }
    }

    &_clr-bg {
        background-color: $dark-blue;
        padding-bottom: 60px;

        @include breakpoint-sm {
            padding-bottom: 40px;
        }

        @include breakpoint-xs {
            padding-bottom: 30px;
        }

        @include breakpoint-xxs {
            padding-bottom: 20px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;

        @include breakpoint-md {
            flex-wrap: wrap;
        }
    }

    &__item {
        height: 100%;
        background-color: $green;
        padding: 30px 30px 40px;
        &_clr-dark {
            background-color: transparent;
            color: $white;
            text-align: center;
            padding: 0 0 40px;
        }
        &_flex {
            justify-content: center;
        }
    }

    &__title {
        @include fonts(26px, 36px, 1.2px);

        margin-bottom: 10px;
        font-weight: 700;

        @include breakpoint-sm {
            @include fonts(24px, 34px, 1px);
        }

        @include breakpoint-xs {
            @include fonts(22px, 32px, 1px);

        }

        &_size {
            @include fonts(22px, 30px, 1.2px);

            @include breakpoint-sm {
                @include fonts(20px, 28px, 1px);
            }

            @include breakpoint-xs {
                @include fonts(16px, 24px, 0.8px);
            }
        }
    }

    &__text {
        @include fonts(16px, 26px, 0.8px);

        @include breakpoint-xs {
            @include fonts(14px, 22px, 0.6px);
        }
    }
}