@mixin background-mixin {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin fonts($size, $height, $spacing) {
    font-size: $size;
    line-height: $height;
    letter-spacing: $spacing;
}

@mixin fonts-title {
    @include fonts(62px, 68px, 1.4px);

    @include breakpoint-md {
        @include fonts(54px, 60px, 1.2px);
    }

    @include breakpoint-sm {
        @include fonts(46px, 48px, 1px);
    }
}

@mixin fonts-subtitle {
    @include fonts(22px, 30px, 1.2px);

    @include breakpoint-md {
        @include fonts(20px, 28px, 1.2px);
    }

    @include breakpoint-sm {
        @include fonts(18px, 26px, 1px);
    }
}

/*Responsive*/
@mixin breakpoint-md {
    @media screen and (max-width: 1200px){
        @content;
    }
}

@mixin breakpoint-sm {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin breakpoint-xs {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin breakpoint-xxs {
    @media screen and (max-width: 576px) {
        @content;
    }
}