@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import "mixin";

$colors: (
  white: #fff,
  dark-blue: #081580,
  light-blue: #00b6dd,
  black: #010101,
  black-rgba: rgba(1, 1, 1, 0.6),
  grey: #d3d8e4,
  green: #ccd5ae
);

$font-notoSans: "Noto Sans", sans-serif;
$hover-opacity: 0.75;

@function get-color($name) {
  @return map-get($colors, $name);
}

@import "hero";
@import "card";
@import "button";
@import "imageText";
@import "location";

html {
  font-family: $font-notoSans;
}

body {
  color: get-color(black);
}

.container {
  @include make-container;
}
