@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #010101;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.6)), to(rgba(1, 1, 1, 0.6))), url("../images/hero-bg.jpg");
  background-image: linear-gradient(rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)), url("../images/hero-bg.jpg");
  position: relative;
  width: 100%;
  padding: 120px 0 140px;
}

@media (max-width: 1199px) {
  .hero {
    padding: 100px 0 120px;
  }
}

@media (max-width: 991px) {
  .hero {
    padding: 80px 0 100px;
  }
}

@media (max-width: 767px) {
  .hero {
    padding: 60px 0 80px;
  }
}

@media (max-width: 575px) {
  .hero {
    padding-bottom: 70px;
  }
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

@media (max-width: 767px) {
  .hero__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}

@media (max-width: 575px) {
  .hero__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.hero__title {
  font-size: 62px;
  line-height: 68px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #fff;
}

@media (max-width: 1199px) {
  .hero__title {
    font-size: 54px;
    line-height: 60px;
    letter-spacing: 1.2px;
  }
}

@media (max-width: 991px) {
  .hero__title {
    font-size: 46px;
    line-height: 48px;
    letter-spacing: 1px;
  }
}

.card {
  padding-top: 100px;
  margin-bottom: 90px;
}

@media (max-width: 1199px) {
  .card {
    padding-top: 80px;
    margin-bottom: 70px;
  }
}

@media (max-width: 991px) {
  .card {
    padding-top: 60px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .card {
    padding-top: 50px;
    margin-bottom: 30px;
  }
}

.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__col {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

@media (max-width: 991px) {
  .card__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .card__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 575px) {
  .card__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.card__item {
  height: 100%;
  padding: 30px;
  border: 1px solid #D3D8E4;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .card__item {
    padding: 28px;
  }
}

@media (max-width: 575px) {
  .card__item {
    padding: 16px;
  }
}

.card__category {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 1.2px;
  position: absolute;
  top: 12px;
  left: 0;
  text-transform: uppercase;
  padding: 6px 15px 8px 16px;
  background-color: #00B6DD;
  color: #fff;
}

.card__item_clr-blue .card__category {
  background-color: #081580;
}

@media (max-width: 767px) {
  .card__category {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}

.card__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.card__img::before {
  position: static;
  display: block;
  content: "";
  padding: 61% 0 0;
}

@media (max-width: 767px) {
  .card__img {
    margin-bottom: 18px;
  }
}

@media (max-width: 575px) {
  .card__img {
    margin-bottom: 12px;
  }
  .card__img::before {
    padding: 33% 0 0;
  }
}

.card__img_one {
  background-image: url("../images/card_one.jpg");
}

.card__img_two {
  background-image: url("../images/card_two.jpg");
}

.card__img_three {
  background-image: url("../images/card_three.jpg");
}

.card__img_four {
  background-image: url("../images/card_four.jpg");
}

.card__img_five {
  background-image: url("../images/card_five.jpg");
}

.card__img_six {
  background-image: url("../images/card_six.jpg");
}

.card__author {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.8px;
  color: #00B6DD;
  margin-bottom: 6px;
}

.card__item_clr-blue .card__author {
  color: #081580;
}

@media (max-width: 767px) {
  .card__author {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: inherit;
  }
}

.card__title {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1.2px;
  font-weight: 400;
  margin-bottom: 16px;
}

@media (max-width: 1199px) {
  .card__title {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1.2px;
  }
}

@media (max-width: 991px) {
  .card__title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1px;
  }
}

@media (max-width: 767px) {
  .card__title {
    margin-bottom: 12px;
  }
}

@media (max-width: 575px) {
  .card__title {
    margin-bottom: 10px;
  }
}

.card__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.8px;
}

@media (max-width: 767px) {
  .card__text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.6px;
  }
}

.buttons {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
}

@media (max-width: 767px) {
  .buttons_imageText {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 575px) {
  .buttons_imageText {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.button {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.8px;
  border: 2px solid transparent;
  padding: 7px 33px 9px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.button:hover {
  opacity: 0.6;
}

.button_clr-black {
  background-color: #010101;
  border-color: #00B6DD;
}

.button_clr-blue {
  background-color: #081580;
  border-color: inherit;
}

.button_clr-light-blue {
  background-color: #00B6DD;
  border-color: #00B6DD;
}

@media (max-width: 991px) {
  .button {
    padding: 9px 30px 11px;
  }
}

@media (max-width: 767px) {
  .button {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: inherit;
    padding: 8px 28px 10px;
  }
}

.imageText {
  background-color: #010101;
}

.imageText__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imageText__col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

@media (max-width: 991px) {
  .imageText__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .imageText__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.imageText__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

@media (max-width: 1199px) {
  .imageText__inner {
    padding: 80px 16px;
  }
}

@media (max-width: 767px) {
  .imageText__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.imageText__content {
  margin-right: 55px;
}

.imageText__content__col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

@media (max-width: 991px) {
  .imageText__content__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (max-width: 767px) {
  .imageText__content__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-right: 0;
  }
}

.imageText__title {
  font-size: 62px;
  line-height: 68px;
  letter-spacing: 1.4px;
  color: #00B6DD;
  margin-bottom: 22px;
}

@media (max-width: 1199px) {
  .imageText__title {
    font-size: 54px;
    line-height: 60px;
    letter-spacing: 1.2px;
  }
}

@media (max-width: 991px) {
  .imageText__title {
    font-size: 46px;
    line-height: 48px;
    letter-spacing: 1px;
  }
}

.imageText__text {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1.2px;
  color: #fff;
  margin-bottom: 10px;
}

@media (max-width: 1199px) {
  .imageText__text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1.2px;
  }
}

@media (max-width: 991px) {
  .imageText__text {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1px;
  }
}

@media (max-width: 991px) {
  .imageText__text {
    margin-bottom: 0;
  }
}

.imageText__image__col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

@media (max-width: 767px) {
  .imageText__image__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}

@media (max-width: 575px) {
  .imageText__image__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .imageText__image-hub {
    margin-top: 40px;
  }
}

html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  color: #010101;
}

.container {
  width: 1140px !important;
  margin: 0 auto !important;
}

@media (max-width: 1199px) {
  .container {
    width: 940px !important;
  }
}

@media (max-width: 991px) {
  .container {
    width: 720px !important;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
    width: auto !important;
  }
}
/*# sourceMappingURL=stylescss.css.map */